.about_page{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgb(111, 4, 182),#fff, black);
}
.container-about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
.pick__container{
    width: 100%;
    height: 100vh;
    position: relative;

}
.pic__anima{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(1018px/8);
    height: 257px  ;
    background: url(../../assets/images/mensUpdate.png);
    animation: sprite 1.5s steps(8) infinite;
}
@keyframes sprite{
    from{
        background-position: 0;
    }
    to{
        background-position: 1018px;
    }
}
.container-about h1{
    font-family: 'Monument';
    color: #fff;
    font-size: 100px;
    text-transform: uppercase;
}
.about-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    overflow: hidden;
    background-color: yellow; 
}
.about-overlay{
    background: url('../../assets/images/bgImage3.jpg') 50% 50% no-repeat;
    background-size: cover;
}